p {
    margin-top: 20px;
}

form {
    background-color: rgb(236, 226, 199);
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

button {
    margin-bottom: 20px;
}

.dark {
    background-color: rgb(49, 49, 49);
    color: white;
}

.light {
    background-color: #fff;
    color: #212529;
}

header {
    padding: 7px;
    background-color: rgb(236, 226, 199);
    color: #212529;
}

header div div {
    margin-top: 5px !important;
    
}

footer {
    background-color: #1c1c1c;
    padding: 25px;
    color: #fff;
    text-align: center;
}

#galeria {
    text-align: center;
}

img {
    max-width: 100%;
}

#chicas {
    margin:20px 0;
}

#chicas img {
    width: 160px;
    height: 104px;
}

#anterior, #siguiente{
    width: 75px !important;
}

#galeria div {
    display: inline-block;
}

.dark {
    background-color: rgb(49, 49, 49);
    color: white;
}

.light {
    background-color: #fff;
    color: #212529;
}

#buttons {
    padding-top: 8px;
}

@media screen and (max-width:768px) {

    h1,h2,h3 {
        text-align: center;
    }

    button {
        width: 35%;
    }

    #buttons {
        text-align: center;
    }

    #chicas img {
        width: 110px;
        height: 74px;
    }
    
    #anterior, #siguiente{
        width: 45px !important;
    }
}

@media screen and (max-width:576px) {
    #chicas img {
        width: 80px;
        height: 54px;
    }
    
    #anterior, #siguiente{
        width: 15px !important;
    }
}